body {
  margin: 0;
  font-family: "Vazir","Tahoma",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input::-moz-placeholder{
  color: rgb(112, 111, 111) !important;
}